header {
  background-color:rgb(151, 151, 218);
  padding: 80px;
  text-align: center;
  color: white;
}

#Button {
  font-size: 12px;
  font-family: sans-serif;
  color: rgb(101, 32, 104);
  background-color: rgb(222, 146, 241)

}

#main {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  overflow: unset;
  background-color: rgb(255, 255, 255)
}

.close {
  position: relative;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

#sidebar {
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  width: 40%;
  text-align: left;
  background-color: rgb(255, 255, 255);
}

#content {
  padding-bottom: 20px;
  padding-left: 20px;
  width: 80%;
  text-align: left;
  background-color: rgb(255, 255, 255);
}

body {
  display: flex;
  flex-direction: column;
}

#Para {
  text-align: left;
}

footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #7e1fa3;
  text-align: center;
}

.completedRTask{
  text-decoration: ;
}